.r-pdx-c-b {
  color: blue;
}

.r-pdx-c-e {
  color: teal;
}

.r-pdx-c-g {
  color: green;
}

.r-pdx-c-h {
  color: orange;
}

.r-pdx-c-l {
  color: brown;
}

.r-pdx-c-m {
  color: purple;
}

.r-pdx-c-p {
  color: orangered;
}

.r-pdx-c-r {
  color: red;
}

.r-pdx-c-s {
  color: darkorange;
}

.r-pdx-c-t {
  color: grey;
}

.r-pdx-c-w {
  font-style: italic;
}

.r-pdx-c-y {
  color: yellow;
}

.r-pdx-c-dark-b {
  color: blue;
}

.r-pdx-c-dark-e {
  color: teal;
}

.r-pdx-c-dark-g {
  color: green;
}

.r-pdx-c-dark-h {
  color: orange;
}

.r-pdx-c-dark-l {
  color: brown;
}

.r-pdx-c-dark-m {
  color: purple;
}

.r-pdx-c-dark-p {
  color: orangered;
}

.r-pdx-c-dark-r {
  color: red;
}

.r-pdx-c-dark-s {
  color: darkorange;
}

.r-pdx-c-dark-t {
  color: lightgray;
}

.r-pdx-c-dark-w {
  color: white;
}

.r-pdx-c-dark-y {
  color: yellow;
}
